.cardDiv {
  display: flex;
  flex-wrap: wrap;
}

/* Responsive layout */
@media (max-width: 800px) {
  .cardDiv {
    flex-direction: column;
  }
}

.cardStyle {
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 10px;
  width: 25%;
  margin-bottom: 10px;
}

.pagination{
  display: inline-block;
  margin-left: 92%;
}

.mainDiv{
  margin-bottom: 10px;
}